.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-image: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

.gameover {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -450px;
  z-index: 1;
  background-color: grey;
  opacity: .9;
}

.winner {
  color: blue;
  font-size: 200px;
  z-index: 1;
  position: relative;
  margin-top: -450px;
}
